/* FUNCTION, FORM */
html, body{
  overflow-x: hidden;
  margin: 0;
}
iframe{
  margin: 0 0 0 0;
  width:98.5%;
  height:300px;
  padding: 4px 4px;
  overflow-x: hidden;
  overflow-y: scroll;
}
button, input[type='submit']{
  cursor: pointer;
}
#posted-msgs{
  margin:8px 0 0 8px;
  overflow-y: hidden;
}
#posted-msgs-container{
  width:99%;
  height:250px;
  overflow-y: scroll;
}
#swap-btn{
  margin: 8px 0 0 8px;
}
#submit-index{
  font-size: 18px;
  padding: 16px 36px;
}
.small{
  font-family: monospace;
  font-size: 11px;
}
.textarea{
  width:98%;
  height: 100px;
  vertical-align: text-top;
  margin: 0 0 0 0;
}
.user-input{
  margin: 8px 0 0 8px;
}
.sorry{
  padding: 0 0 0 8px;
}
.send-msg-btn{
  font-size: 20px;
  margin: 0 auto;
  padding: 20px 40px;
  text-align: center;
  display: block;
}
.send-msg-div{
  width: 100%;
}
.hidden{
  visibility: hidden;
}

/* THEMES */

/* HACKER */
html{
  font-family: monospace;
  font-weight: 400;
  color: #20C20E;
  background-color: #000;
}
iframe{
  background-color: #000;
  border:1px solid rgba(255,255,255,0.2);
}
textarea{
  font-size:14px;
  color: #20C20E;
  background-color:#000;
  border:1px solid #20C20E;
}
button, input[type='submit'], input[type='text']{
  font-family:monospace;
  color:#20C20E;
  background-color:#000;
  border:1px solid #20C20E;
}
.msg{
color: #20C20E;
font-size: 14px;
}
.small{
color: rgba(255,255,255,0.2);
}
#posted-msgs-container{
  border:1px solid rgba(255,255,255,0.2);
}
::selection {
  background-color: #20C20E;
  color: #000;
}
::-moz-selection {
  background-color: #20C20E;
  color: #000;
}
::-o-selection {
  background-color: #20C20E;
  color: #000;
}
::-ms-selection {
  background-color: #20C20E;
  color: #000;
}
::-webkit-selection {
  background-color: #20C20E;
  color: #000;
}


/* MICHAELANGELO */
/*
@import url('https://fonts.googleapis.com/css?family=Mukta');
/*
html{
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  color: #FFF;
  background-color: #4ABDAC;
}
iframe{
  border:none;
  background-color: #F7B733;
}
.msg{
  color: #FFF;
  font-size: 14px;
  font-family: 'Mukta', sans-serif;
}
.small{
  color: #DFDCE3;
}
textarea{
  color: #000;
}
iframe, textarea{
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
button, input[type='submit']{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  border:none;
  color: #FFF;
  background-color: #F7B733;
}
*/